# rename to .backend.env and adjust values as needed
AOI_AREA_LIMIT = 1000000

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

DB_FILE = /var/lib/app/tasks.db

SECRET_KEY=<your-secret-key>
